<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picogram.awesomeness"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <!-- Information for Picogram -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Crittercism -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Ads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.picogram.awesomeness.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.picogram.awesomeness.CreateGriddlerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.picogram.awesomeness.UserGriddlers"
            android:label="@string/title_activity_user_griddlers" >
        </activity>
        <activity
            android:name="com.picogram.awesomeness.WorldGriddlers"
            android:label="@string/title_activity_world_griddlers" >
        </activity>
        <activity
            android:name="com.picogram.awesomeness.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.picogram.awesomeness.AdvancedGameActivity"
            android:label="@string/title_activity_advanced_game" >
        </activity>
        <!-- Crash Detection -->
        <activity android:name="com.crittercism.NotificationActivity" />
        <!-- Ads -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <!-- Activities Required by Socialize -->
        <activity
            android:name="com.socialize.ui.comment.CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.socialize.ui.action.ActionDetailActivity" />
        <activity android:name="com.socialize.ui.profile.ProfileActivity" />
        <activity android:name="com.socialize.auth.facebook.FacebookActivity" />
        <activity
            android:name="com.socialize.ui.SocializeLaunchActivity"
            android:noHistory="true" />

        <!-- Activities Required by Facebook -->
        <activity android:name="com.facebook.LoginActivity" />
        <!-- Crashylitics -->
        <meta-data android:name="com.crashlytics.ApiKey" android:value="26cab79768d225df99b868382208fa9bce559df8"/>
        
    </application>

</manifest>