<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pic2griddler.awesomeness"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pic2griddler.awesomeness.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pic2griddler.awesomeness.CreateGriddlerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pic2griddler.awesomeness.GameActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pic2griddler.awesomeness.UserGriddlers"
            android:label="@string/title_activity_user_griddlers" >
        </activity>
        <activity
            android:name="com.pic2griddler.awesomeness.WorldGriddlers"
            android:label="@string/title_activity_world_griddlers" >
        </activity>
        <activity
            android:name="com.pic2griddler.awesomeness.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.pic2griddler.awesomeness.AdvancedGameActivity"
            android:label="@string/title_activity_advanced_game" >
        </activity>
        <activity android:name="com.crittercism.NotificationActivity" />
    </application>

</manifest>