<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picogram.awesomeness"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Ads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Socialize -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme" >
        <activity
            android:name="com.picogram.awesomeness.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.picogram.awesomeness.CreatePicogramActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.picogram.awesomeness.CreateActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.picogram.awesomeness.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.picogram.awesomeness.AdvancedGameActivity"
            android:label="@string/title_activity_advanced_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.picogram.awesomeness.PreGameActivity"
            android:label="@string/title_activity_picogram_pre_game"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="com.google.android.apps.plus.VIEW_DEEP_LINK" />

                <data android:scheme="vnd.google.deeplink" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Activities Required by Socialize -->
        <activity
            android:name="com.socialize.ui.comment.CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.socialize.ui.action.ActionDetailActivity" />
        <activity android:name="com.socialize.ui.profile.ProfileActivity" />
        <activity android:name="com.socialize.auth.facebook.FacebookActivity" />
        <activity
            android:name="com.socialize.ui.SocializeLaunchActivity"
            android:noHistory="true" />

        <!-- Activities Required by Facebook -->
        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name="com.picogram.awesomeness.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>